

main {
    width: 1280;
    height: 800;
    display: flex;
    flex-direction:row;
    margin-top: 100px;
    align-items: center; 
    justify-content: center;
    gap: 300px;
}

.imagem-minha, .img-about{
    width: 400px;
    border-radius: 50%;
}

h2{
    font-size: 50px;
    color: #FEFE00;
}

h3{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

.home-specs{
    color: white;
}

.lista-imagens {
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    list-style: none;
    cursor: pointer;
}

.botao {
    background-color: #FEFE00;
    color: black;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

@keyframes anima {
    0% {
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
}

.botao:hover {
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@media screen and (max-width: 768px) {
    
    
    main{
        flex-direction: column;
        gap: 0;
        
    }

    h3{
        text-align: center;
    }

    .lista-imagens{
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    .botao{ 
        display: flex;
        margin: 0 auto;
        align-items: center; 
        justify-content: center;
    }

    .imagem-minha{
        display: none;
    }
}

