
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255); 
    transition: 1s;
    font-size: 15px;
    font-weight: bold;
}

.nav_item::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background-color:#FEFE00;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    
}

.nav_item:hover::after{
    width: 100%;
    left: 0;
    
}

.nav_item, a:hover{
    color: #FEFE00;
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 8vh;
    z-index: 100;
}

.Logo {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 12pt;
}

.Logo span{
    color: #FEFE00;
}

.Logo:hover{
    transition: 1s;
    color: #FEFE00;
}

.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;

}

.nav_toggler {
    display: none;
}

.nav_toggler div{
    width: 2rem;
    height: 0.2rem;
    margin: 0.3rem;
    background: white;
    transition: 0.3s ease-in;
}

.icons label a{
    margin-left: 10px;
}



@media screen and (max-width: 768px) {
    .nav_toggler{
        display: block;
        cursor: pointer;
    }
    .nav_menu{
        position:absolute;
        top: 8vh;
        right: 0;
        height: 95vh;
        width: 100vw;
        background: rgb(10, 10, 10);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        
    }
}

/*Ativar o navegador*/

.nav_active{
    transform: translateX(0%)
}

/*Ativar o navegador*/

/*Animar o meu toggle*/

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px, -5px);
}
